.env
__pycache__
*.ipynb
*.db
*.env
.coverage
coverage.xml
pytest-report.xml
.venv
*.egg-info
.cache
.uv_cache
.ruff_cache
.pytest_cache
docs/stories/

torch-2.8.0+cu128-cp311-cp311-manylinux_2_28_x86_64.whl
torchaudio-2.8.0+cu128-cp311-cp311-manylinux_2_28_x86_64.whl